@use "styles/helpers" as *;

.image_container {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
        width: 100%;
    }
}
.btn_close {
    border: none;
    background-color: transparent;
    align-self: flex-end;
    margin-bottom: 40px;
    color: var(--white);
    font-family: "libra";
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 3px;
    cursor: pointer;
    @include transition;
    &:hover {
        opacity: 0.25;
    }
}
