@use "styles/helpers" as *;

@font-face {
    font-family: "libre";
    src: url("/fonts/LibreBaskerville-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "libre";
    src: url("/fonts/LibreBaskerville-Regular.ttf");
    font-weight: 400;
}

h1 {
    font-size: 1.5rem;
    line-height: 1.8125rem;
    color: var(--black);
    @include breakpoint($medium) {
        font-size: 3.5rem;
        line-height: 4rem;
    }
}
h2 {
    font-size: 0.875rem;
    line-height: 1.06rem;
    color: var(--black);
    @include breakpoint($medium) {
        font-size: 1.125rem;
        line-height: 1.375rem;
    }
}
